.loader {
  margin: 6em auto;
  width: 15em;
  height: 15em;
  font-size: 1.5em;
  box-sizing: border-box;
  color: black;
  border-top: 0.3em solid #31f545;
  border-radius: 50%;
  position: relative;
  animation: rotating 2s ease-in-out infinite;
  --direction: 1;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
  top: -0.2em;
}

.loader::before {
  border-top: 0.3em solid #e91e63;
  transform: rotate(120deg);
}

.loader::after {
  border-top: 0.3em solid #f1f1f1;
  transform: rotate(240deg);
}

.loader span {
  position: absolute;
  color: black;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 15em;
  font-family: sans-serif;
  animation: rotating 2s linear infinite;
  --direction: -1;
}

@keyframes rotating {
  50% {
    transform: rotate(calc(180deg * var(--direction)));
  }

  100% {
    transform: rotate(calc(360deg * var(--direction)));
  }
}

@media (max-width:500px) {
  .loader {
    width: 13em;
    height: 13em;
    font-size: 1em;
  }
  .loader span {
    line-height: 13em;
  }
}