.user-item{
  display: flex;

  &__photo {
    width: 4em;
    height: 4em;
    padding: .3em;
    border-radius: 1em;
    margin-top: 1em;
    background-color: #f1f1f1;
  }
  &__info{
    width: 100%;
    margin-left: 1.5em;
  }
  &__title{
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
  &__result{
    display: inline;
    margin: 0;
  }

  &__result-success{
    color: #31f545;
  }
  &__result-fail{
    color: #E91E63;
  }
  &__todos-list{
    overflow-y: scroll;
    height: 9em;
    margin-top: 1em;
    padding-left: 1.2em;
  }
  &__todos-list::-webkit-scrollbar {
    width: 0.3em;
  }

  &__todos-list::-webkit-scrollbar-track {
    --webkit-box-shadow: .5em .5em .5em -.5em rgba(34, 60, 80, 0.2) inset;
    background-color: #f1f1f1;
    border-radius: 1em;
  }

  &__todos-list::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background: linear-gradient(180deg, #31f545, #E91E63);
  }

  &__todos-item {
    margin-bottom: .5em;
    margin-right: 1em;

  }
}

@media (max-width:1400px) {
  .user-item{
    &__title{
      font-size: 1.2em;
    }
  }
}

@media (max-width:950px) {
  .user-item{
    &__photo {
      width: 3em;
      height: 3em;
    }
  }
}