@font-face {
  font-family: "quadranta";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/quadranta-regular.woff2") format("woff2"),
    url("/src/assets/fonts/quadranta-regular.woff") format("woff");
}
